/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.calculator-container {
  background: linear-gradient(to bottom, #e0e0e0, #b0b0b0);
  width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-button {
  background-color: #a391e7;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: #5239aa;
}
